.App {
  text-align: center;
  margin: auto;
  max-width: 20%;
  padding: 2%;
  background-color: beige;
}
h4 {
  color: dimgray;
}

.result-box {
  background-color: rgba(194, 194, 162, 0.733);
  margin-top: 34px;
}

.result-title {
  background: rgb(149, 197, 141);
  font-size: 1.5rem;
  font-weight: 600;
}

.result-table {
  width: 100%;
  color: brown;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  padding: 2px;
}

.result-footer {
  color: rgb(32, 31, 30);
}
input {
  font-size: 1.4rem;
  background-color: transparent;
  padding: 0.5rem;
}
